<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Publisher</th>
      <th scope="col">Song</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @playlist.tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.user.name %></td>
        <td><%= render 'attachment', track: track %></td>
        <td>
          <%= button_to 'Remove', remove_track_playlist_path(@playlist, id: track.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark my-2"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
        
       